/*
!Assets/
Assets/*.meta
Assets/Scripts/K3VO.meta
Assets/Scripts/K3VO
!ProjectSettings
!ProjectSettings/*
.gitignore
!Packages/
!Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Assets/Plugins/FMOD/Resources/FMODStudioSettings.asset